<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApp">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.newsapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".firebaseauth.SignIn"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryNews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Preferences"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SavedNews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firebaseauth.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>